.banner-container{
    height: 50%;
    background-color: rgb(168, 168, 168);
}

.separator{
    height: 5%;
    background-color: white;
}

.black-circle{
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
}